<div class="container-fluid footercontainer">
	<footer class="row row-cols-5 py-5 mt-5 border-top">
		<div class="col offset-sm-2">
			<img src="../../images/hypnos.png" width="70px" alt="Hypnos logo">
			<p class="text-muted">&copy; 2022</p>
		</div>

		<div class="col">
			<h5>Sitemap</h5>
			<ul class="nav flex-column">
				<li class="nav-item mb-2">
					<a href="/index.php" class="nav-link p-0 text-muted">Accueil</a>
				</li>
				<li class="nav-item mb-2">
					<a href="/contact" class="nav-link p-0 text-muted">Contact</a>
				</li>
				{% if is_granted('ROLE_USER') %}
					<li class="nav-item mb-2">
						<a href="/compte" class="nav-link p-0 text-muted">Mon Compte</a>
					</li>
					<li class="nav-item mb-2">
						<a href="{{ path('app_logout') }}" class="nav-link p-0 text-muted">Déconnexion</a>
					</li>
				{% elseif is_granted('ROLE_ADMIN') %}
					<li class="nav-item mb-2">
						<a href="/admin" class="nav-link p-0 text-muted">Mon Compte</a>
					</li>
					<li class="nav-item mb-2">
						<a href="{{ path('app_logout') }}" class="nav-link p-0 text-muted">Déconnexion</a>
					</li>
				{% elseif is_granted('ROLE_GERANT') %}
					<li class="nav-item mb-2">
						<a href="/admin" class="nav-link p-0 text-muted">Mon Compte</a>
					</li>
					<li class="nav-item mb-2">
						<a href="{{ path('app_logout') }}" class="nav-link p-0 text-muted">Déconnexion</a>
					</li>
				{% else %}
					<li class="nav-item mb-2">
						<a href="/login" class="nav-link p-0 text-muted">Me connecter</a>
					</li>
				{% endif %}

			</ul>
		</div>

		<div class="col">
			<h5>Lieux</h5>
			<ul class="nav flex-column">
				{% for etablissement in etablissements %}
					<li class="nav-item mb-2">
						<a href="{{path('etab_list',{'id': etablissement.etaid})}}" class="nav-link p-0 text-muted">{{ etablissement.name }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="col">
			<h5>Legal</h5>
			<ul class="nav flex-column">
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">C.G.U.</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">Politique de confidentialité</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">Politique de cookies</a>
				</li>
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">Mentions légales</a>
				</li>
			</ul>
		</div>
	</footer>
</div>